
.raleway-primary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-secondary {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    background-color: #F5F7FF;
}

header{
  background-image: url(../Assets/Hero-bg.png);
}

button:hover{
  background-color: rgb(95, 118, 160);
  padding: 17px 30px;
  font-size: 20px;
}


main section{
  margin: 0 auto 115px;
  max-width: 1100px;
}

/* shared styles */
.button-primary{
  text-align: center;
  color: white;
  background-color: #4E47FF;
  padding: 13px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}

/* nav styles */
nav{
    max-width: 1100px;
    margin: auto;
}

nav div{
  display: flex;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;
}

.nav-title{
  color: #4E47FF;
  font-size: 30px;
  font-weight: 900;
}

/* banner section styles */
.banner{
  text-align: center;
  padding: 150px 260px;
}

.banner-title{
  font-size: 50px;
  font-weight: bold;
  color: #252432;
}

/* action section styles */
.action{
  display: flex;
  justify-content: space-between;
  gap: 220px;
  align-items: center;
  margin-top: 115px;
}

.action-title{
  font-size: 38px;
  font-weight: bold;
  color: #252432;
}

.action-description{
  font-size: 24px;
  color: #25243280;
}

.action img{
  border-radius: 45px;
}

/* productive users section styles */
.productive-users{
  box-sizing: border-box;
  background-color: #4d47ff2f;
  border-radius: 24px;
  text-align: center;
  padding: 40px 100px;
}

.productive-users-title{
  font-size: 30px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 30px;
}

.data-container{
  display: flex;
  /* gap: 20px; */
  justify-content: space-around;
  margin-top: 0;
}

.data-title{
  font-size: 65px;
  font-weight: bold;
  color: #4E47FF;
  margin: 0 auto;
}

.data-subtitle{
  font-size: 16px;
  color: #0000007c;
  margin-top: 0;
}

/* feedback section styles */
.feedback-title{
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #252432;
  
}

.user-container{
  display: flex;
  gap: 20px;
}

.user-card{
  padding: 24px;
  background-color: white;
  border-radius:  14px;
}

.ratting{
  color: #FFB805;
  margin-bottom: 15px;
}

.card-title{
  margin-bottom: 8px;
}

.card-description{
  margin-top: 0;
}

.reviewer-container{
  display: flex;
  gap: 10px;
  align-items: center;
}

.reviewer-container img{
  object-fit:cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.reviewer-title{
  font-weight: bold;
  color: rgba(0, 0, 0, 0.664);
  margin-bottom: 0;
}

.date{
  margin-top: 0;
  color: gray;
}